/* Tablo stilleri */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Tablo başlık stilleri */
th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

/* Tablo satır stilleri */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f2f2f2;
}

/* Tablo hücre içeriği stilleri */
td {
  padding: 8px;
  text-align: left;
}

/* Tablo başlık hücre içeriği stilleri */
th,
td {
  border-bottom: 1px solid #ddd;
}
